#footer {
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
}

.meninfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.price {
    /* flex: 1;  */
    max-width: 50%; 
    padding: 20px;
    /* line-height: 4; */
    box-sizing: border-box; 
  }
  
  .extra {
    /* flex: 1;  */
    max-width: 60%; 
    padding: 20px;
    box-sizing: border-box; 
    text-align: justify; 
  }

  /* mainpag */
#Main{
    display: flex;
    /* flex-direction: column; */
    /* background-color: aqua; */
    padding: 0 5%;
    justify-content: space-between;
  }
