body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

#navbar {
  display: flex;
  position: sticky;
  /* width: 100%; */
  top: 0;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

#navbar .left,
#navbar .right,
.navv {
  display: flex;
  align-items: center;
}
#mens-page,#womens-page{
  /* border: 2px solid black; */
  padding: 20px 0px
}
.right button {
  padding: 11px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#navbar img {
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

#navbar a,
#navbar p {
  font-weight: 900;
  font-size: 0.8rem;
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

#navbar input[type="text"] {
  padding: 10px;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}


.navv{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navv li{
  position: relative;
  /* padding: 15px 20px; */
}


.dropdown:hover .choose {
  /* min-height: 100px; */
  /* background-color: #333; */
  /* color: #007bff; */
  min-width: 80%;
  margin-top: auto;
  /* padding: 10px; */
  display: grid;
  border-radius: 10px;
  grid-template-columns: repeat(5,1fr);
  
  
}
.dropdown .choose {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 10px;
}
hr{
  color: grey;
}

.navBlock li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 1px 1px;
  margin: 100px;
}

.navBlock li a:hover {
  background-color: #f4f4f4;
}
.navBlock{
 /* border: 2px solid black; */
  font-size: 12px;
  width: 250px;
  /* margin: 0 20px; */
}

#footer {
  margin: 100px;
  min-width: 1080px;
  background-color: #f1f1f1;
  padding: 20px 20%;
  font-size: 12px;
  margin: 0 auto;
}

.top-part img {
  width: 150px;
}

.top-part,
.infoSection {
  display: flex;
  flex-wrap: wrap;
}

.top-part div {
  flex: 1;
  min-width: 200px;
  box-sizing: border-box;
}

.top-part h4 {
  margin-bottom: 10px;
}

.middle {
  padding: 20px 0;
}

.popular {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.popular + div {
  text-align: center;
}

.infoSection {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.address {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  #footer {
    padding: 2% 13%;
    min-width: 500px;
  }
}
