#footer {
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
  padding: 0 auto;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.meninfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.price {
  max-width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.extra {
  max-width: 60%;
  padding-right: 20px;
  box-sizing: border-box;
  text-align: justify;
}

#counterDiv{
  display: flex;
  font-size: 1.25em;

  margin: 10px 0 0 75px;
}
.counter{
  color: #777;
}

#Main {
  display: flex;
  padding: 10px 1%;
  justify-content: space-evenly;
  margin: 0 auto 100px auto;
}

.filter {
  display: flex;
  flex-direction: column;
  position: sticky;
  left: 0;
  z-index: 0;
  width: 250px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.filter hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.filter label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
}

.filter input[type="radio"],
.filter input[type="checkbox"] {
  margin-right: 5px;
}

.filter strong {
  display: flex;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.filter select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}

.filter input[type="checkbox"],
.filter input[type="radio"] {
  cursor: pointer;
}

.filter div {
  margin-bottom: 15px;
}

.filter > button {
  padding: 11px 20px;
  font-size: 16px;
  border: none;
  margin: 5px;
  /* border-radius: 0 4px 4px 0; */
  font-weight: bolder;
  cursor: pointer;
  border: 2px solid #ff3f6c;
  background-color: white;
  color: #ff3f6c;
}
.filter > .resetF {
  color: #0051ff;
  border: 1px solid #007bff;
  background-color: white;
}

.filter > button:hover {
  color: white;
  background-color: #ff1149;
  transition: 500ms ease-in-out;
}
.filter > .resetF:hover {
  background-color: #0051ff;
  transition: 500ms ease-in-out;
}

#genders {
  display: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 76%;
  /* margin-bottom: 10%; */
  overflow: scroll;
  scrollbar-width: none;
}

.products div {
  background-color: #fff;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.products img {
  display: block;
  position: relative;
  width: 100%;
}

.products div:hover .button {
  opacity: 1;
  transition: 300ms ease-in;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  font-weight: bolder;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  border: none;
  color: white;
  background-color: #ff3f6c;
  width: 100%;
  justify-content: center;
}

.button:hover {
  background-color: #f8154a;
}

.products h4 {
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  line-height: 1;
}
.pricep {
  display: flex;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
}
.pricep span {
  font-weight: bold;
  color: black;
}
.products p {
  padding: 0 10px;
  font-size: 14px;
  color: #777;
  line-height: 1;
}

.mfilter {
  display: none;
}
@media (max-width: 480px) {
  #Main {
    margin-top: 10px;
    flex-direction: column;
  }

  .filter {
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
    position: sticky;
    justify-content: center;
    display: none;
    z-index: 100;
  }

  .mfilter {
    justify-content: space-around;
    display: flex;
  }

  .show-mobile-filter,
  .hide-mobile-filter {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    font-size: 1.5em;
    font-weight: bolder;
  }
  .show-mobile-filter {
    transition: 500ms ease-in-out;
    color: white;
    background-color: #007bff;
  }

  .hide-mobile-filter {
    display: none;
    justify-content: center;
  }

  .products {
    width: 100%;
    margin: auto 10px auto 0px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 5px;
  }

  .products div:hover h4 {
    opacity: 1;
    box-shadow: none;
  }

  .button {
    position: relative;
    display: flex;
    opacity: 1;
    padding: 10px;
  }

  .products > div {
    /* border-radius: 10px; */
    /* border: 1px solid #777; */
    height: auto;
  }

  .products img {
    max-height: 320px;
    object-fit: cover;
  }

  .products h4 {
    font-size: 14px;
  }

  .products p {
    font-size: 12px;
  }
  #footer {
    padding: auto 0;
  }
}

img {
  user-select: none;
  pointer-events: none;
}
